.table-striped {
    background-color: #C4E3FE;
}

.form-inline.form-control.addSpecimen {
    width: 20%;
    cursor: auto;
}

.form-inline.form-control.editSpecimen {
    width:30%;
}

.form-inline.form-control.addSpecimenHeader {
    width: 20%;
    text-align: center;
    color: white;
    cursor: auto;
}

.upload-status-text-area {
  width: 95%;
  height:100px;
  background: #E8E8E8;
  resize: vertical;
  margin-left:30px;
  padding: 5px;
}
