#specimen-page {
  margin-right: 1%;
  margin-left: 1%;
  animation: appear 0.3s linear;
}

@keyframes appear {
    from { opacity: 0; }
    to { opacity: 1; }
}

.specimen-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.specimen-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 25%;
  padding: 0 15px;
}

.specimen-title .barcode {
  flex-grow: 1;
}

.specimen-title .value {
  font-size: 30px;
}

.specimen-title .specimen-button {
  margin-left: auto;
  flex-grow: 1;
}

.timeline {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.lifecycle {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lifecycle-graphic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lifecycle-node {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #FFFFFF;
  border: 4px solid #A6D3F5;
  border-radius: 50%;
  color: #768CAD;
  height: 40px;
  width: 40px;
  z-index: 2;
}

.lifecycle-node:hover {
  border: 4px solid #093782;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#lifecycle-collection-node:hover > #panel-collection-node {
  border: 4px solid #093782;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lifecycle-node .letter {
  font-size: 24px;
  font-weight: bold;
  cursor: default;
}

.lifecycle-line {
  background: #A6D3F5;
  height: 2px;
  width: 50%;
  margin: 0px 10px;
  z-index: 1;
}

.summary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.globals {
  width: 25%;
  height: 600px;
  border: 2px solid #DDD;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.globals:hover {
  border: 2px solid #A6D3F5;
}

.globals .list {
  padding: 0px 15px;
  height: 100%;
  
  display: flex;
  flex-direction: column; 
  justify-content: space-evenly;
}

.globals .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto 0;
}

.globals .field.link:hover .value {
  color: #093782;
  cursor: pointer;
}

.globals .value {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
}

.globals .action {
  margin-left: auto;
}

.globals .glyphicon {
  margin-left: auto;
}

.processing {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 75%;
  padding: 0 1%;
}

.panel {
  width: 33%;
  flex-grow: 1;
  margin: 0 1%;
}

.panel-heading {
  font-size: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.panel .title {
  margin-left: 10px;  
}

.panel .glyphicon-pencil {
  margin-left: auto;
}

.panel .glyphicon-pencil:hover {
  cursor: pointer;
  text-shadow: 0 0 5px #093782;
}

.panel.inactive {
  border: 2px dashed #DDD;
  border-radius: 10px;  
  font-size: 30px;
  color: #DDD;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-process {
  border: 2px dashed #DDD;
  border-radius: 50%;
  height: 100px;
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.add-process:hover {
  border: 2px solid black;
  background-color: #00C851;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
