#specimen-page {
  margin-right: 1%;
  margin-left: 1%;
  animation: appear 0.3s linear;
}

@keyframes appear {
    from { opacity: 0; }
    to { opacity: 1; }
}

.specimen-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.specimen-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 25%;
  padding: 0 15px;
}

.specimen-title .barcode {
  flex-grow: 1;
}

.specimen-title .value {
  font-size: 30px;
}

.specimen-title .specimen-button {
  margin-left: auto;
  flex-grow: 1;
}

.timeline {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.summary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.globals {
  width: 25%;
  height: 650px;
  border: 2px solid #DDD;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.globals:hover {
  border: 2px solid #A6D3F5;
}

.globals .list {
  padding: 0px 15px;
  height: 100%;
  
  display: flex;
  flex-direction: column; 
  justify-content: space-evenly;
}


.globals .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto 0;
}

.globals .item:last-child {
  border-top: 2px solid #DDDDDD;
  padding-top: 15px;
  margin-top: 0;
}

.globals .field {
  flex-grow: 1;
}

.globals .field.link:hover .value {
  color: #093782;
  cursor: pointer;
}

.globals .value {
  font-size: 24px;
}

.globals .action {
  margin-left: auto;
}

/*.globals .glyphicon {
  margin-left: auto;
}*/

.processing {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 75%;
  padding: 0 1%;
}

.panel {
  width: 33%;
  flex-grow: 1;
  margin: 0 1%;
}

.panel-heading {
  font-size: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.panel .title {
  margin-left: 10px;  
}

.panel .glyphicon-pencil {
  margin-left: auto;
}

.panel .glyphicon-pencil:hover {
  cursor: pointer;
  text-shadow: 0 0 5px #093782;
}

.panel.inactive {
  border: 2px dashed #DDD;
  border-radius: 10px;  
  font-size: 30px;
  color: #DDD;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-process {
  border: 2px dashed #DDD;
  border-radius: 50%;
  height: 100px;
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.add-process:hover {
  border: none;
  background-color: #0f9d58;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.centered-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;

}

