.specimen-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.specimen-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 25%;
  padding: 0 15px;
}

.specimen-title .barcode {
  flex-grow: 1;
}

.specimen-title .value {
  font-size: 30px;
}

.specimen-title .specimen-button {
  margin-left: auto;
  flex-grow: 1;
}

.timeline {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.summary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.processing {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 75%;
  padding: 0 1%;
}

.specimen-panel {
  width: 33%;
  flex-grow: 1;
  margin: 0 1%;
}

.panel-heading {
  font-size: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.specimen-panel .title {
  margin-left: 10px;  
}

.specimen-panel .glyphicon-pencil {
  margin-left: auto;
}

.specimen-panel .glyphicon-pencil:hover {
  cursor: pointer;
  text-shadow: 0 0 5px #093782;
}

.specimen-panel.inactive {
  border: 2px dashed #DDD;
  border-radius: 10px;  
  font-size: 30px;
  color: #DDD;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-process {
  border: 2px dashed #DDD;
  border-radius: 50%;
  height: 100px;
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.add-process:hover {
  border: none;
  background-color: #0f9d58;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

